.article-list
    padding: 20px
    &__new-window
        border: 1px solid rgba(0, 0, 0, .1)
        margin-bottom: 20px
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-bottom: 10px

.article-shortcut
    padding: 0
    position: relative
    &__image
        width: 100%
        height: 200px
        object-fit: cover
        transition-duration: 1s
    &__data
        padding: 0 20px
        border: 1px solid $light-border-color
        border-top: none
    &__city
        background: black
        padding: 5px 20px
        width: fit-content
        color: white
        text-transform: uppercase
        font-size: .8rem
        margin-left: 20px
    &__header
        font-family: Montserrat
        font-size: 1.2rem
        margin: 30px 0 0 0 
    &__date
        font-size: .7rem
        opacity: .5
    &__description
        margin: 20px 0
        font-size: .8rem
        overflow: hidden
        max-height: 100px
        transition-duration: 1s
    &:hover
        .article-shortcut__image
            height: 350px
            transition-duration: 1s
        .article-shortcut__description
            max-height: 0px
            transition-duration: 1s