/* ANIMATIONS */
@keyframes hideAlertBox {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

h1,
p {
  margin: 0; }

a {
  color: black; }
  a:hover {
    color: black;
    text-decoration: none; }

button {
  border: none;
  background: none; }

.container {
  max-width: 70%; }

input:focus, input:active,
.RichEditor-root:focus,
.RichEditor-root:active {
  outline: 1px solid black;
  outline-style: auto; }

.alert {
  margin: 10px;
  animation-name: hideAlertBox;
  animation-duration: 2s;
  animation-delay: 4s; }
  .alert a {
    color: #02b4bd; }

.navigation {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px; }
  .navigation__item {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700; }
    .navigation__item--active {
      position: relative; }
      .navigation__item--active:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-width: 100px;
        height: 7px;
        background: black; }

.article {
  margin-bottom: 50px; }
  .article__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .article__image-container {
      width: 100%;
      height: 350px; }
  .article__header {
    font-family: Montserrat;
    margin-top: 20px; }
  .article__date {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    margin: 5px 0 20px 0; }
  .article__description {
    font-family: Roboto;
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 300; }
  .article__options {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline; }
  .article__option-button {
    font-size: .8rem;
    text-transform: uppercase; }
  .article__button {
    margin-top: 20px;
    display: block; }
    .article__button-icon {
      margin-right: 10px;
      transition-duration: .5s; }
    .article__button:hover .article__button-icon {
      margin-right: 20px;
      transition-duration: .5s; }

.new-article__shortcut-image {
  padding: 20px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.new-article__icon {
  margin-bottom: 20px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.1); }

.new-article__label {
  position: absolute;
  left: 20px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px; }

.new-article__input {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  width: 100%;
  background: none; }
  .new-article__input:focus ~ label {
    top: 10px;
    background: white;
    color: #000000;
    transition: 0.3s;
    z-index: 1;
    width: auto;
    padding: 0 10px;
    font-size: .8rem; }

.new-article__button {
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  padding: 5px 20px;
  margin-bottom: 20px;
  background: #02b4bd;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: .9rem; }

.article-list {
  padding: 20px; }
  .article-list__new-window {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.article-shortcut {
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .article-shortcut__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 1s; }
    .article-shortcut__image-container {
      height: 100%; }
  .article-shortcut__data {
    padding: 0 20px;
    border: 1px solid #f4f4f4;
    border-top: none; }
  .article-shortcut__city {
    background: black;
    padding: 5px 20px;
    width: fit-content;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-left: 20px; }
  .article-shortcut__header {
    font-family: Montserrat;
    font-size: 1.2rem;
    margin: 30px 0 0 0; }
  .article-shortcut__date {
    font-size: .7rem;
    opacity: .5; }
  .article-shortcut__description {
    margin: 20px 0;
    font-size: .8rem;
    overflow: hidden;
    max-height: 100px;
    transition-duration: 1s; }
  .article-shortcut:hover .article-shortcut__image {
    transition-duration: 1s; }
  .article-shortcut:hover .article-shortcut__description {
    max-height: 0px;
    transition-duration: 1s; }

.RichEditor-root {
  min-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px; }
  .RichEditor-root .RichEditor-controls {
    padding: 15px 20px;
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap; }
    .RichEditor-root .RichEditor-controls .RichEditor-styleButton {
      margin: 0 10px; }
      .RichEditor-root .RichEditor-controls .RichEditor-styleButton.RichEditor-activeButton {
        font-weight: 800; }
      .RichEditor-root .RichEditor-controls .RichEditor-styleButton:hover {
        cursor: pointer; }
  .RichEditor-root .RichEditor-editor {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px; }
    .RichEditor-root .RichEditor-editor .RichEditor-blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-family: 'Hoefler Text', 'Georgia', serif;
      font-style: italic;
      margin: 16px 0;
      padding: 10px 20px; }
    .RichEditor-root .RichEditor-editor .public-DraftStyleDefault-pre {
      background-color: rgba(0, 0, 0, 0.05);
      font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
      font-size: 16px;
      padding: 20px; }
